h1 {
    text-decoration: overline;
  }
  #activities {
    background-color: yellow;
  }
  .completed {
    text-decoration: line-through;
  }
  .image-align{
    
    width: 350px;
    margin-right: 100px;
    float: right;
    right: 0;
  }